* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#head {
    margin: auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    height: 110px;
}

#head ul,
#head ol {
    list-style: none;
}

#head .nav li a {
    background-color: rgb(1, 14, 48);
    color: rgba(245, 245, 245, 0.973);
    text-decoration: none;
    padding: 10px 15px;
    display: block;

}

#head .nav li a:hover {

    background-color: dimgray;
}

#head .nav>li {
    float: left;

}

#head .nav li ul {

    display: none;
    position: absolute;
    min-width: 140px;
}

#head .nav li:hover>ul {

    display: block;
}

#head .nav li ul li {

    position: relative;
}